# Save Models

In [1]:
import pandas as pd
import numpy as np 
import joblib
from sklearn.svm import SVR
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import GridSearchCV, train_test_split

In [2]:
models = {
    'SVR': SVR(),
    'GBR': GradientBoostingRegressor()
}

params = {
    'SVR': {
        'kernel':['linear', 'poly','rbf'],
        'gamma':['auto', 'scale'],
        'C': [1,5,10]
    },
    'GBR': {
        'loss': ['ls', 'lad'],
        'learning_rate':[0.01,0.05,0.1]
    }
}

best_score = 999 
best_model = None

In [3]:
df = pd.read_csv('../Datasets/Week9/world_happiness.csv')
df.head()

,country,rank,score,high,low,gdp,family,lifexp,freedom,generosity,corruption,dystopia
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [4]:
x = df.iloc[:, 3:]
y = df.iloc[:,2]

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=.3, random_state=42)

In [5]:

for key, mod in models.items():
    grid_regressor = GridSearchCV(mod, params[key], cv=3, iid=True).fit(x,y.values.ravel())
    score = np.abs(grid_regressor.best_score_)
    
    if score < best_score:
        best_score = score
        best_model = grid_regressor.best_estimator_
        
        
print(best_score)
print(best_model)

model_name = str(best_model)
model_name = model_name.split('(')[0]

# joblib.dump(model, name of file)
joblib.dump(best_model, f'./models/world_happiness-{model_name}-{int(best_score*100)}.pkl')

0.9320707704353502
SVR(C=1, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

['./models/world_happiness-SVR-93.pkl']

In [6]:
loaded_model = joblib.load('./models/world_happiness-SVR-93.pkl')

In [7]:
yp = loaded_model.predict(x_test)

In [8]:
from sklearn.metrics import r2_score

In [9]:
r2_score(y_test, yp)

0.9980551958302983

# Dataset heart

In [10]:
df = pd.read_csv('../Datasets/Week9/heart.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [11]:
x = df.drop(['target'], 1)
y = df['target']

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.35)

In [12]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

dtc = DecisionTreeClassifier().fit(x_train,y_train)
dtc_pred = dtc.predict(x_test)
print('Acuraccy:', accuracy_score(y_test, dtc_pred))
score = accuracy_score(y_test, dtc_pred)

Acuraccy: 0.9832869080779945

In [13]:
model_name = str(dtc)
model_name = model_name.split('(')[0]
model_name

'DecisionTreeClassifier'

In [14]:
joblib.dump(dtc, f'./models/heart-{model_name}-{int(score*100)}.pkl')

['./models/heart-DecisionTreeClassifier-98.pkl']

In [15]:
loaded_model = joblib.load('./models/heart-DecisionTreeClassifier-97.pkl')

In [16]:
yp = loaded_model.predict(x_test)
print('Acuraccy:', accuracy_score(y_test, dtc_pred))

Acuraccy: 0.9832869080779945