# Pandas
Panel - Data
- Load
- Prepare  
- Model
- Manipulate
- Analyze

### DataFrames
Are Two-dimensional tagged data structures

Has 3 components: 
- data
- index (Rows)
- columns

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = np.array([['', "col1", "col2","col3","col4"], 
                 ["row1",11,22,33,44],
                 ["row2",55,66,77,88],
                 ["row3",99,1010,1111,1212],
                 ["row4",1313,1414,1515,1616]])

In [4]:
df = pd.DataFrame(data=data[1:,1:], index=data[1:,0], columns=data[0,1:])

In [5]:
print(df)
print(df.shape)
df['col1']['row1']

      col1  col2  col3  col4
row1    11    22    33    44
row2    55    66    77    88
row3    99  1010  1111  1212
row4  1313  1414  1515  1616
(4, 4)

'11'

In [6]:
df2 = pd.DataFrame(np.array([[1,2,3],[4,5,6],[7,8,9]]))
print(df2)
print(df2.shape)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9
(3, 3)

In [7]:
series = pd.Series({"Argentina": "Buenos Aires", "Chile": "Santiago de Chile", "Colombia": "Bogot치", "Peru":"Lima", "Venezuela":"Caracas", "Mexico":"Mexico D.F."})

In [8]:
print(series)
print(series.shape)

Argentina         Buenos Aires
Chile        Santiago de Chile
Colombia                Bogot치
Peru                      Lima
Venezuela              Caracas
Mexico             Mexico D.F.
dtype: object
(6,)

In [9]:
series2 = pd.Series({"Argentina": ["Buenos Aires", "Rosario", "La Plata"], "Chile": "Santiago de Chile", "Colombia": ["Bogot치", "Medellin", "Cali"], "Peru":"Lima", "Venezuela":"Caracas", "Mexico":"Mexico D.F."})

In [10]:
print(series2)
print(series2.shape)

Argentina    [Buenos Aires, Rosario, La Plata]
Chile                        Santiago de Chile
Colombia              [Bogot치, Medellin, Cali]
Peru                                      Lima
Venezuela                              Caracas
Mexico                             Mexico D.F.
dtype: object
(6,)

In [11]:
df3 = pd.DataFrame(np.array([[1,2,3,4,5], [6,7,8,9,10],[11,12,13,14,15],[16,17,18,19,20],[21,22,23,24,25]]))

In [12]:
print(len(df3.index))
print(len(df3.columns))

5
5

In [13]:
df3.describe()

               0          1          2          3          4
count   5.000000   5.000000   5.000000   5.000000   5.000000
mean   11.000000  12.000000  13.000000  14.000000  15.000000
std     7.905694   7.905694   7.905694   7.905694   7.905694
min     1.000000   2.000000   3.000000   4.000000   5.000000
25%     6.000000   7.000000   8.000000   9.000000  10.000000
50%    11.000000  12.000000  13.000000  14.000000  15.000000
75%    16.000000  17.000000  18.000000  19.000000  20.000000
max    21.000000  22.000000  23.000000  24.000000  25.000000

In [14]:
df4 = pd.DataFrame(np.random.randint(0,50,size=(100,5)))

In [15]:
df4.describe()

                0           1           2           3           4
count  100.000000  100.000000  100.000000  100.000000  100.000000
mean    24.350000   23.230000   25.390000   26.610000   22.370000
std     13.596921   14.649339   14.030915   14.096991   14.520383
min      0.000000    0.000000    0.000000    1.000000    1.000000
25%     14.000000   10.000000   16.500000   15.000000    9.750000
50%     24.500000   22.000000   25.500000   27.500000   21.500000
75%     35.500000   37.250000   37.000000   40.000000   34.250000
max     49.000000   49.000000   48.000000   49.000000   49.000000

In [16]:
df4.corr()

          0         1         2         3         4
0  1.000000  0.116330  0.089498  0.099055 -0.028955
1  0.116330  1.000000  0.091653 -0.005675 -0.071444
2  0.089498  0.091653  1.000000  0.201016  0.158236
3  0.099055 -0.005675  0.201016  1.000000 -0.048980
4 -0.028955 -0.071444  0.158236 -0.048980  1.000000

In [17]:
df4.count() # Count of not null elements

0    100
1    100
2    100
3    100
4    100
dtype: int64

In [18]:
df4.max() # Max Value

0    49
1    49
2    48
3    49
4    49
dtype: int32

In [19]:
df4.min() # Min value

0    0
1    0
2    0
3    1
4    1
dtype: int32

In [20]:
df4.mean() # Mean of all data

0    24.35
1    23.23
2    25.39
3    26.61
4    22.37
dtype: float64

In [21]:
df4.std() # Standard Deviation

0    13.596921
1    14.649339
2    14.030915
3    14.096991
4    14.520383
dtype: float64

In [22]:
df4.median() # Middle Value

0    24.5
1    22.0
2    25.5
3    27.5
4    21.5
dtype: float64

In [23]:
df4[0] # Column

0     26
1      0
2     38
3     44
4     37
      ..
95    18
96    27
97    31
98    42
99    45
Name: 0, Length: 100, dtype: int32

In [24]:
df4[[0,2,4]] # Two Columns

     0   2   4
0   26  17  19
1    0  27  14
2   38  27   4
3   44  43  32
4   37   6  26
..  ..  ..  ..
95  18   3   3
96  27  28   2
97  31   2  25
98  42  27  35
99  45   1   6

[100 rows x 3 columns]

In [25]:
df4.iloc[0][2] # same as M[0,2] Row 0 column 2

17

In [26]:
df4.loc[0] # Row 0 all columns

0    26
1    43
2    17
3    14
4    19
Name: 0, dtype: int32

In [27]:
df4.iloc[0,:] # Row 0 all

0    26
1    43
2    17
3    14
4    19
Name: 0, dtype: int32

In [28]:
df4.iloc[0,:] = [None,None,None,None,None]

In [29]:
df4.isnull()

        0      1      2      3      4
0    True   True   True   True   True
1   False  False  False  False  False
2   False  False  False  False  False
3   False  False  False  False  False
4   False  False  False  False  False
..    ...    ...    ...    ...    ...
95  False  False  False  False  False
96  False  False  False  False  False
97  False  False  False  False  False
98  False  False  False  False  False
99  False  False  False  False  False

[100 rows x 5 columns]

In [30]:
df4.isnull().sum()

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [31]:
# pd.dropna() # Row

In [32]:
# df4.dropna(axis=1) # Columns

In [33]:
df4.fillna('ND')

     0   1   2   3   4
0   ND  ND  ND  ND  ND
1    0  37  27  20  14
2   38  40  27  32   4
3   44   6  43  17  32
4   37   9   6  18  26
..  ..  ..  ..  ..  ..
95  18  44   3   8   3
96  27   9  28  40   2
97  31  22   2  41  25
98  42  44  27  34  35
99  45  18   1   5   6

[100 rows x 5 columns]

# DataSets

In [34]:
pk = pd.read_csv('Datasets/pokemon_data.csv')

In [35]:
pk.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [36]:
pk.tail(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [38]:
pk.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [ ]:
pk_excel = pd.read_excel('Datasets/pokemon_data.xlsx')

In [ ]:
pk_excel.head(3)

In [ ]:
pk_excel.tail(3)

In [ ]:
pk_txt = pd.read_csv('Datasets/pokemon_data.txt')

In [ ]:
pk_txt.head(3)

In [ ]:
pk_txt.tail(3)

In [ ]:
pk_txt = pd.read_csv('Datasets/pokemon_data.txt', delimiter='\t')

In [ ]:
pk_txt.head(3)

In [ ]:
pk.columns

In [ ]:
pk['Name'][0:5]

In [ ]:
pk.Name[0:5]

In [ ]:
pk[['Name','HP','Attack']][0:5]

In [ ]:
pk.iloc[2]

In [ ]:
pk.iloc[0:3]

In [ ]:
count = 3
for idx, row in pk.iterrows():
    if count == 0:
        break
    else:
        print(idx, row)
        count -= 1

In [ ]:
count = 3
for idx, row in pk.iterrows():
    if count == 0:
        break
    else:
        print(idx, row['Name'])
        count -= 1

# Filter Data

In [ ]:
pk.loc[pk['Type 1'] == "Fire"][0:3]

In [ ]:
pk.loc[pk['Type 1'] == "Grass"][0:3]

In [ ]:
pk.loc[pk['Type 1'] == "Water"][0:3]

In [ ]:
pk.loc[pk['Defense'] >= 100][:3]

In [ ]:
pk.describe()

In [ ]:
pk.sort_values('HP', ascending=False)[:10]

In [ ]:
pk.sort_values(['Type 1','HP'], ascending=False)[:10]

# Some Changes

In [ ]:
pk['Total'] = pk['HP'] + pk['Attack'] + pk['Defense'] + pk['Sp. Atk'] + pk['Sp. Def'] + pk['Speed']

In [ ]:
pk.head(5)

In [ ]:
pk.drop(columns=['Total'])

In [ ]:
pk['Total'] = pk.iloc[:, 4:10].sum(axis=1)

In [ ]:
pk.head(3)

In [ ]:
pk2 = pk[['Name', 'Total', 'HP', 'Defense']]

In [ ]:
pk2.head(3)

In [ ]:
grass = pk.loc[pk['Type 1'] == "Grass"].loc[pk['HP'] > 90]

In [ ]:
grass

In [ ]:
grass = pk.loc[(pk['Type 1'] == "Grass") & (pk['HP'] > 90)]
grass

In [ ]:
cols = pk.columns.values
cols

In [ ]:
cols2 = list(pk.columns.values)
cols2

In [ ]:
pk3 = pk[cols2[0:4] + [cols2[-1]] + cols2[4:12]]
pk3

# Export Data

In [104]:
grass = pk.loc[pk['Type 1'] == 'Grass']
grass.to_csv('grass_type.csv', index=False)
# grass.to_excel('grass_type.xlsx', index=False)
# grass.to_csv('grass_type.txt', index=False, sep='\t')
grass[:3]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,count
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318,1
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405,1
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525,1

In [111]:
water = pk.loc[pk['Type 1'] == 'Water']
#water.to_csv('water_type.csv', index=False)
water[:3]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,count
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,314,1
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False,405,1
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False,530,1

In [106]:
fire = pk.loc[pk['Type 1'] == 'Fire']
fire.to_csv('fire_type.csv', index=False)
fire[:3]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,count
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,True,309,1
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,True,405,1
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,True,534,1

In [112]:
water = water.reset_index()
water[:15]

,index,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,count
0,9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,314,1
1,10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False,405,1
2,11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False,530,1
3,12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,630,1
4,59,54,Psyduck,Water,NaN,50,52,48,65,50,55,1,False,320,1
5,60,55,Golduck,Water,NaN,80,82,78,95,80,85,1,False,500,1
6,65,60,Poliwag,Water,NaN,40,50,40,40,40,90,1,False,300,1
7,66,61,Poliwhirl,Water,NaN,65,65,65,50,50,90,1,False,385,1
8,67,62,Poliwrath,Water,Fighting,90,95,95,70,90,70,1,False,510,1
9,78,72,Tentacool,Water,Poison,40,40,35,50,100,70,1,False,335,1
10,79,73,Tentacruel,Water,Poison,80,70,65,80,120,100,1,False,515,1
11,85,79,Slowpoke,Water,Psychic,90,65,65,40,40,15,1,False,315,1
12,86,80,Slowbro,Water,Psychic,95,75,110,100,80,30,1,False,490,1
13,87,80,SlowbroMega Slowbro,Water,Psychic,95,75,180,130,80,30,1,False,590,1
14,93,86,Seel,Water,NaN,65,45,55,45,70,45,1,False,325,1

In [113]:
fire = fire.reset_index(drop=True)
fire[:15]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,count
0,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,True,309,1
1,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,True,405,1
2,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,True,534,1
3,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,True,634,1
4,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,True,634,1
5,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,True,299,1
6,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,True,505,1
7,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,True,350,1
8,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,True,555,1
9,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,True,410,1
10,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,True,500,1
11,126,Magmar,Fire,NaN,65,95,57,100,85,93,1,True,495,1
12,136,Flareon,Fire,NaN,65,130,60,95,110,65,1,True,525,1
13,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True,580,1
14,155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,True,309,1

In [116]:
megas = pk.loc[pk['Name'].str.contains('Mega')]
megas[:3]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,count
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625,1
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,True,634,1
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,True,634,1

In [118]:
no_megas = pk.loc[~pk['Name'].str.contains('Mega')]
no_megas[:3]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,count
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318,1
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405,1
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525,1

In [122]:
# Import Regular Exp
import re

fire_water = pk.loc[pk['Type 1'].str.contains('Fire|Water', regex=True)]
fire_water[:10]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,count
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,True,309,1
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,True,405,1
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,True,534,1
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,True,634,1
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,True,634,1
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,314,1
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False,405,1
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False,530,1
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,630,1
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,True,299,1

In [123]:
grass_water = pk.loc[pk['Type 1'].str.contains('grass|water', flags=re.I, regex=True)]
grass_water[:10]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,count
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318,1
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405,1
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525,1
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625,1
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,314,1
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False,405,1
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False,530,1
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,630,1
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False,320,1
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False,395,1

In [135]:
ad_pk = pk.loc[pk['Name'].str.contains('fr[a-z]*', flags=re.I, regex=True)]
ad_pk[:10]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,count
15,12,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False,395,1
530,478,Froslass,Ice,Ghost,70,80,70,80,70,110,4,False,480,1
534,479,RotomFrost Rotom,Electric,Ice,50,65,107,105,107,86,4,False,520,1
653,592,Frillish,Water,Ghost,55,40,50,65,85,40,5,False,335,1
672,611,Fraxure,Dragon,NaN,66,117,70,40,50,67,5,False,410,1
724,656,Froakie,Water,NaN,41,56,40,62,44,71,6,False,314,1
725,657,Frogadier,Water,NaN,54,63,52,83,56,97,6,False,405,1
744,676,Furfrou,Normal,NaN,75,80,60,65,90,102,6,False,472,1

In [142]:
pi_pk = pk.loc[pk['Name'].str.contains('^pi[a-z]', flags=re.I, regex=True)]
pi_pk[:10]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,count
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False,251,1
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False,349,1
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False,479,1
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,579,1
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False,320,1
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False,500,1
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False,600,1
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False,205,1
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False,290,1
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False,450,1

In [143]:
pk2 = pk

In [150]:
pk2.loc[pk2['Type 1'] == 'Fire', 'Legendary'] = True
# pk2.loc[(pk2['Type 1'] == 'Fire') & (pk2['HP'] > 100), ['Legendary', 'Total']] = True
pk2[:15]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,count
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318,1
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405,1
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525,1
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625,1
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,True,True,1
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,True,True,1
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,True,True,1
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,True,True,1
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,True,True,1
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False,314,1
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False,405,1
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False,530,1
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,630,1
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False,195,1
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False,205,1

In [151]:
pk.groupby(['Type 1']).mean()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,count
Type 1,,,,,,,,,,
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000,1.0
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516,1.0
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000,1.0
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909,1.0
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824,1.0
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000,1.0
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,1.000000,1.0
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000,1.0
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500,1.0
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857,1.0
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000,1.0
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333,1.0
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408,1.0
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000,1.0
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614,1.0
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909,1.0
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148,1.0
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714,1.0

In [164]:
pk.groupby(['Type 1']).mean().sort_values('Attack', ascending=False)

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,count
Type 1,,,,,,,,,,
Dragon,474.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000,1.0
Fighting,363.851852,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000,1.0
Ground,356.281250,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000,1.0
Rock,392.727273,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909,1.0
Steel,442.851852,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148,1.0
Dark,461.354839,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516,1.0
Fire,327.403846,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,1.000000,1.0
Flying,677.750000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000,1.0
Poison,251.785714,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000,1.0
Water,303.089286,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714,1.0
Ghost,486.500000,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500,1.0
Normal,319.173469,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408,1.0
Grass,344.871429,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857,1.0
Ice,423.541667,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333,1.0
Psychic,380.807018,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614,1.0
Bug,334.492754,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000,1.0
Electric,363.500000,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909,1.0
Fairy,449.529412,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824,1.0

In [160]:
pk.groupby(['Type 1']).count().sort_values('#', ascending=False)

,#,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total,count
Type 1,,,,,,,,,,,,,
Water,112,112,53,112,112,112,112,112,112,112,112,112,112
Normal,98,98,37,98,98,98,98,98,98,98,98,98,98
Grass,70,70,37,70,70,70,70,70,70,70,70,70,70
Bug,69,69,52,69,69,69,69,69,69,69,69,69,69
Psychic,57,57,19,57,57,57,57,57,57,57,57,57,57
Fire,52,52,24,52,52,52,52,52,52,52,52,52,52
Electric,44,44,17,44,44,44,44,44,44,44,44,44,44
Rock,44,44,35,44,44,44,44,44,44,44,44,44,44
Ghost,32,32,22,32,32,32,32,32,32,32,32,32,32
Ground,32,32,19,32,32,32,32,32,32,32,32,32,32
Dragon,32,32,21,32,32,32,32,32,32,32,32,32,32
Dark,31,31,21,31,31,31,31,31,31,31,31,31,31
Poison,28,28,13,28,28,28,28,28,28,28,28,28,28
Fighting,27,27,7,27,27,27,27,27,27,27,27,27,27
Steel,27,27,22,27,27,27,27,27,27,27,27,27,27
Ice,24,24,11,24,24,24,24,24,24,24,24,24,24
Fairy,17,17,2,17,17,17,17,17,17,17,17,17,17
Flying,4,4,2,4,4,4,4,4,4,4,4,4,4

In [165]:
pk['count'] = 1
pk.groupby(['Type 1']).count()['count']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, dtype: int64

In [171]:
pk.groupby(['Type 1','Type 2']).count()['count'][:10]

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
        Grass        6
        Ground       2
        Poison      12
        Rock         3
        Steel        7
Name: count, dtype: int64

In [173]:
chunk_c = 0
for df in pd.read_csv('Datasets/pokemon_data.csv', chunksize=70):
    print(f'Chunk {chunk_c}')
    print(df)
    chunk_c += 1

Chunk 0
     #                   Name   Type 1    Type 2  HP  Attack  Defense  \
0    1              Bulbasaur    Grass    Poison  45      49       49
1    2                Ivysaur    Grass    Poison  60      62       63
2    3               Venusaur    Grass    Poison  80      82       83
3    3  VenusaurMega Venusaur    Grass    Poison  80     100      123
4    4             Charmander     Fire       NaN  39      52       43
..  ..                    ...      ...       ...  ..     ...      ...
65  60                Poliwag    Water       NaN  40      50       40
66  61              Poliwhirl    Water       NaN  65      65       65
67  62              Poliwrath    Water  Fighting  90      95       95
68  63                   Abra  Psychic       NaN  25      20       15
69  64                Kadabra  Psychic       NaN  40      35       30

    Sp. Atk  Sp. Def  Speed  Generation  Legendary
0        65       65     45           1      False
1        80       80     60           1      False
2       100      100     80           1      False
3       122      120     80           1      False
4        60       50     65           1      False
..      ...      ...    ...         ...        ...
65       40       40     90           1      False
66       50       50     90           1      False
67       70       90     70           1      False
68      105       55     90           1      False
69      120       70    105           1      False

[70 rows x 12 columns]
Chunk 1
       #                   Name    Type 1  Type 2  HP  Attack  Defense  \
70    65               Alakazam   Psychic     NaN  55      50       45
71    65  AlakazamMega Alakazam   Psychic     NaN  55      50       65
72    66                 Machop  Fighting     NaN  70      80       50
73    67                Machoke  Fighting     NaN  80     100       70
74    68                Machamp  Fighting     NaN  90     130       80
..   ...                    ...       ...     ...  ..     ...      ...
135  126                 Magmar      Fire     NaN  65      95       57
136  127                 Pinsir       Bug     NaN  65     125      100
137  127      PinsirMega Pinsir       Bug  Flying  65     155      120
138  128                 Tauros    Normal     NaN  75     100       95
139  129               Magikarp     Water     NaN  20      10       55

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
70       135       95    120           1      False
71       175       95    150           1      False
72        35       35     35           1      False
73        50       60     45           1      False
74        65       85     55           1      False
..       ...      ...    ...         ...        ...
135      100       85     93           1      False
136       55       70     85           1      False
137       65       90    105           1      False
138       40       70    110           1      False
139       15       20     80           1      False

[70 rows x 12 columns]
Chunk 2
       #                   Name  Type 1  Type 2   HP  Attack  Defense  \
140  130               Gyarados   Water  Flying   95     125       79
141  130  GyaradosMega Gyarados   Water    Dark   95     155      109
142  131                 Lapras   Water     Ice  130      85       80
143  132                  Ditto  Normal     NaN   48      48       48
144  133                  Eevee  Normal     NaN   55      55       50
..   ...                    ...     ...     ...  ...     ...      ...
205  190                  Aipom  Normal     NaN   55      70       55
206  191                Sunkern   Grass     NaN   30      30       30
207  192               Sunflora   Grass     NaN   75      75       55
208  193                  Yanma     Bug  Flying   65      65       45
209  194                 Wooper   Water  Ground   55      45       45

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
140       60      100     81           1      False
141       70      130     81           1      False
142       85       95     60           1      False
143       48       48     48           1      False
144       45       65     55           1      False
..       ...      ...    ...         ...        ...
205       40       55     85           2      False
206       30       30     30           2      False
207      105       85     30           2      False
208       75       45     95           2      False
209       25       25     15           2      False

[70 rows x 12 columns]
Chunk 3
       #                   Name   Type 1    Type 2  HP  Attack  Defense  \
210  195               Quagsire    Water    Ground  95      85       85
211  196                 Espeon  Psychic       NaN  65      65       60
212  197                Umbreon     Dark       NaN  95      65      110
213  198                Murkrow     Dark    Flying  60      85       42
214  199               Slowking    Water   Psychic  95      75       80
..   ...                    ...      ...       ...  ..     ...      ...
275  254  SceptileMega Sceptile    Grass    Dragon  70     110       75
276  255                Torchic     Fire       NaN  45      60       40
277  256              Combusken     Fire  Fighting  60      85       60
278  257               Blaziken     Fire  Fighting  80     120       70
279  257  BlazikenMega Blaziken     Fire  Fighting  80     160       80

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
210       65       65     35           2      False
211      130       95    110           2      False
212       60      130     65           2      False
213       85       42     91           2      False
214      100      110     30           2      False
..       ...      ...    ...         ...        ...
275      145       85    145           3      False
276       70       50     45           3      False
277       85       60     55           3      False
278      110       70     80           3      False
279      130       80    100           3      False

[70 rows x 12 columns]
Chunk 4
       #                   Name  Type 1  Type 2   HP  Attack  Defense  \
280  258                 Mudkip   Water     NaN   50      70       50
281  259              Marshtomp   Water  Ground   70      85       70
282  260               Swampert   Water  Ground  100     110       90
283  260  SwampertMega Swampert   Water  Ground  100     150      110
284  261              Poochyena    Dark     NaN   35      55       35
..   ...                    ...     ...     ...  ...     ...      ...
345  316                 Gulpin  Poison     NaN   70      43       53
346  317                 Swalot  Poison     NaN  100      73       83
347  318               Carvanha   Water    Dark   45      90       20
348  319               Sharpedo   Water    Dark   70     120       40
349  319  SharpedoMega Sharpedo   Water    Dark   70     140       70

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
280       50       50     40           3      False
281       60       70     50           3      False
282       85       90     60           3      False
283       95      110     70           3      False
284       30       30     35           3      False
..       ...      ...    ...         ...        ...
345       43       53     40           3      False
346       73       83     55           3      False
347       65       20     65           3      False
348       95       40     95           3      False
349      110       65    105           3      False

[70 rows x 12 columns]
Chunk 5
       #                   Name  Type 1   Type 2   HP  Attack  Defense  \
350  320                Wailmer   Water      NaN  130      70       35
351  321                Wailord   Water      NaN  170      90       45
352  322                  Numel    Fire   Ground   60      60       40
353  323               Camerupt    Fire   Ground   70     100       70
354  323  CameruptMega Camerupt    Fire   Ground   70     120      100
..   ...                    ...     ...      ...  ...     ...      ...
415  378                 Regice     Ice      NaN   80      50      100
416  379              Registeel   Steel      NaN   80      75      150
417  380                 Latias  Dragon  Psychic   80      80       90
418  380      LatiasMega Latias  Dragon  Psychic   80     100      120
419  381                 Latios  Dragon  Psychic   80      90       80

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
350       70       35     60           3      False
351       90       45     60           3      False
352       65       45     35           3      False
353      105       75     40           3      False
354      145      105     20           3      False
..       ...      ...    ...         ...        ...
415      100      200     50           3       True
416       75      150     50           3       True
417      110      130    110           3       True
418      140      150    110           3       True
419      130      110    110           3       True

[70 rows x 12 columns]
Chunk 6
       #                   Name   Type 1   Type 2   HP  Attack  Defense  \
420  381      LatiosMega Latios   Dragon  Psychic   80     130      100
421  382                 Kyogre    Water      NaN  100     100       90
422  382    KyogrePrimal Kyogre    Water      NaN  100     150       90
423  383                Groudon   Ground      NaN  100     150      140
424  383  GroudonPrimal Groudon   Ground     Fire  100     180      160
..   ...                    ...      ...      ...  ...     ...      ...
485  437               Bronzong    Steel  Psychic   67      89      116
486  438                 Bonsly     Rock      NaN   50      80       95
487  439               Mime Jr.  Psychic    Fairy   20      25       45
488  440                Happiny   Normal      NaN  100       5        5
489  441                 Chatot   Normal   Flying   76      65       45

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
420      160      120    110           3       True
421      150      140     90           3       True
422      180      160     90           3       True
423      100       90     90           3       True
424      150       90     90           3       True
..       ...      ...    ...         ...        ...
485       79      116     33           4      False
486       10       45     10           4      False
487       70       90     60           4      False
488       15       65     30           4      False
489       92       42     91           4      False

[70 rows x 12 columns]
Chunk 7
       #                   Name  Type 1    Type 2   HP  Attack  Defense  \
490  442              Spiritomb   Ghost      Dark   50      92      108
491  443                  Gible  Dragon    Ground   58      70       45
492  444                 Gabite  Dragon    Ground   68      90       65
493  445               Garchomp  Dragon    Ground  108     130       95
494  445  GarchompMega Garchomp  Dragon    Ground  108     170      115
..   ...                    ...     ...       ...  ...     ...      ...
555  496                Servine   Grass       NaN   60      60       75
556  497              Serperior   Grass       NaN   75      75       95
557  498                  Tepig    Fire       NaN   65      63       45
558  499                Pignite    Fire  Fighting   90      93       55
559  500                 Emboar    Fire  Fighting  110     123       65

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
490       92      108     35           4      False
491       40       45     42           4      False
492       50       55     82           4      False
493       80       85    102           4      False
494      120       95     92           4      False
..       ...      ...    ...         ...        ...
555       60       75     83           5      False
556       75       95    113           5      False
557       45       45     45           5      False
558       70       55     55           5      False
559      100       65     65           5      False

[70 rows x 12 columns]
Chunk 8
       #        Name  Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
560  501    Oshawott   Water     NaN  55      55       45       63       45
561  502      Dewott   Water     NaN  75      75       60       83       60
562  503    Samurott   Water     NaN  95     100       85      108       70
563  504      Patrat  Normal     NaN  45      55       39       35       39
564  505     Watchog  Normal     NaN  60      85       69       60       69
..   ...         ...     ...     ...  ..     ...      ...      ...      ...
625  564    Tirtouga   Water    Rock  54      78      103       53       45
626  565  Carracosta   Water    Rock  74     108      133       83       65
627  566      Archen    Rock  Flying  55     112       45       74       45
628  567    Archeops    Rock  Flying  75     140       65      112       65
629  568    Trubbish  Poison     NaN  50      50       62       40       62

     Speed  Generation  Legendary
560     45           5      False
561     60           5      False
562     70           5      False
563     42           5      False
564     77           5      False
..     ...         ...        ...
625     22           5      False
626     32           5      False
627     70           5      False
628    110           5      False
629     65           5      False

[70 rows x 12 columns]
Chunk 9
       #       Name  Type 1    Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  \
630  569   Garbodor  Poison       NaN  80      95       82       60       82
631  570      Zorua    Dark       NaN  40      65       40       80       40
632  571    Zoroark    Dark       NaN  60     105       60      120       60
633  572   Minccino  Normal       NaN  55      50       40       40       40
634  573   Cinccino  Normal       NaN  75      95       60       65       60
..   ...        ...     ...       ...  ..     ...      ...      ...      ...
695  634   Zweilous    Dark    Dragon  72      85       70       65       70
696  635  Hydreigon    Dark    Dragon  92     105       90      125       90
697  636   Larvesta     Bug      Fire  55      85       55       50       55
698  637  Volcarona     Bug      Fire  85      60       65      135      105
699  638   Cobalion   Steel  Fighting  91      90      129       90       72

     Speed  Generation  Legendary
630     75           5      False
631     65           5      False
632    105           5      False
633     75           5      False
634    115           5      False
..     ...         ...        ...
695     58           5      False
696     98           5      False
697     60           5      False
698    100           5      False
699    108           5       True

[70 rows x 12 columns]
Chunk 10
       #                      Name    Type 1    Type 2   HP  Attack  Defense  \
700  639                 Terrakion      Rock  Fighting   91     129       90
701  640                  Virizion     Grass  Fighting   91      90       72
702  641   TornadusIncarnate Forme    Flying       NaN   79     115       70
703  641     TornadusTherian Forme    Flying       NaN   79     100       80
704  642  ThundurusIncarnate Forme  Electric    Flying   79     115       70
..   ...                       ...       ...       ...  ...     ...      ...
765  695                 Heliolisk  Electric    Normal   62      55       52
766  696                    Tyrunt      Rock    Dragon   58      89       77
767  697                 Tyrantrum      Rock    Dragon   82     121      119
768  698                    Amaura      Rock       Ice   77      59       50
769  699                   Aurorus      Rock       Ice  123      77       72

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
700       72       90    108           5       True
701       90      129    108           5       True
702      125       80    111           5       True
703      110       90    121           5       True
704      125       80    111           5       True
..       ...      ...    ...         ...        ...
765      109       94    109           6      False
766       45       45     48           6      False
767       69       59     71           6      False
768       67       63     46           6      False
769       99       92     58           6      False

[70 rows x 12 columns]
Chunk 11
       #                   Name    Type 1  Type 2   HP  Attack  Defense  \
770  700                Sylveon     Fairy     NaN   95      65       65
771  701               Hawlucha  Fighting  Flying   78      92       75
772  702                Dedenne  Electric   Fairy   67      58       57
773  703                Carbink      Rock   Fairy   50      50      150
774  704                  Goomy    Dragon     NaN   45      50       35
775  705                Sliggoo    Dragon     NaN   68      75       53
776  706                 Goodra    Dragon     NaN   90     100       70
777  707                 Klefki     Steel   Fairy   57      80       91
778  708               Phantump     Ghost   Grass   43      70       48
779  709              Trevenant     Ghost   Grass   85     110       76
780  710  PumpkabooAverage Size     Ghost   Grass   49      66       70
781  710    PumpkabooSmall Size     Ghost   Grass   44      66       70
782  710    PumpkabooLarge Size     Ghost   Grass   54      66       70
783  710    PumpkabooSuper Size     Ghost   Grass   59      66       70
784  711  GourgeistAverage Size     Ghost   Grass   65      90      122
785  711    GourgeistSmall Size     Ghost   Grass   55      85      122
786  711    GourgeistLarge Size     Ghost   Grass   75      95      122
787  711    GourgeistSuper Size     Ghost   Grass   85     100      122
788  712               Bergmite       Ice     NaN   55      69       85
789  713                Avalugg       Ice     NaN   95     117      184
790  714                 Noibat    Flying  Dragon   40      30       35
791  715                Noivern    Flying  Dragon   85      70       80
792  716                Xerneas     Fairy     NaN  126     131       95
793  717                Yveltal      Dark  Flying  126     131       95
794  718       Zygarde50% Forme    Dragon  Ground  108     100      121
795  719                Diancie      Rock   Fairy   50     100      150
796  719    DiancieMega Diancie      Rock   Fairy   50     160      110
797  720    HoopaHoopa Confined   Psychic   Ghost   80     110       60
798  720     HoopaHoopa Unbound   Psychic    Dark   80     160       60
799  721              Volcanion      Fire   Water   80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
770      110      130     60           6      False
771       74       63    118           6      False
772       81       67    101           6      False
773       50      150     50           6      False
774       55       75     40           6      False
775       83      113     60           6      False
776      110      150     80           6      False
777       80       87     75           6      False
778       50       60     38           6      False
779       65       82     56           6      False
780       44       55     51           6      False
781       44       55     56           6      False
782       44       55     46           6      False
783       44       55     41           6      False
784       58       75     84           6      False
785       58       75     99           6      False
786       58       75     69           6      False
787       58       75     54           6      False
788       32       35     28           6      False
789       44       46     28           6      False
790       45       40     55           6      False
791       97       80    123           6      False
792      131       98     99           6       True
793      131       98     99           6       True
794       81       95     95           6       True

In [179]:
new_pk = pd.DataFrame(columns=pk.columns)
for df in pd.read_csv('Datasets/pokemon_data.csv', chunksize=5):
    res = df.groupby(['Type 1']).count()
    new_pk = pd.concat([new_pk, res], sort=True)

In [180]:
new_pk[:10]

,#,Attack,Defense,Generation,HP,Legendary,Name,Sp. Atk,Sp. Def,Speed,Total,Type 1,Type 2,count
Fire,1,1,1,1,1,1,1,1,1,1,NaN,NaN,0,NaN
Grass,4,4,4,4,4,4,4,4,4,4,NaN,NaN,4,NaN
Fire,4,4,4,4,4,4,4,4,4,4,NaN,NaN,3,NaN
Water,1,1,1,1,1,1,1,1,1,1,NaN,NaN,0,NaN
Bug,2,2,2,2,2,2,2,2,2,2,NaN,NaN,0,NaN
Water,3,3,3,3,3,3,3,3,3,3,NaN,NaN,0,NaN
Bug,5,5,5,5,5,5,5,5,5,5,NaN,NaN,5,NaN
Normal,5,5,5,5,5,5,5,5,5,5,NaN,NaN,4,NaN
Normal,3,3,3,3,3,3,3,3,3,3,NaN,NaN,2,NaN
Poison,2,2,2,2,2,2,2,2,2,2,NaN,NaN,0,NaN