# Sets

In [5]:
set_a = {1,2,3}

In [6]:
set_b = {4,5,6}

In [15]:
set_a.add(4)
set_a

{1, 2, 3, 4}

In [9]:
3 in set_a

True

In [10]:
3 in set_b

False

In [16]:
repeat = {1,1,1,1,1,1,1,1,1,1,1,1}
repeat

{1}

In [17]:
list_a = [1,1,1,2,2,2,3,3,3,3,3,4,4,4,4,4,5,5,5,5,6,6,6,6,6,6,True,True,True,True,False,False,False,"Hello","Hello","Hello"]
set_c = set(list_a)
set_c

{1, 2, 3, 4, 5, 6, False, 'Hello'}

In [18]:
str = "this is a example"
set(str)

{' ', 'a', 'e', 'h', 'i', 'l', 'm', 'p', 's', 't', 'x'}